In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
diamondsp=pd.read_csv("predict.csv")
diamondst=pd.read_csv("train.csv")

diamondst.id.count()

40455

In [3]:
le = preprocessing.LabelEncoder()
diamondsp["numclarity"] = le.fit_transform(diamondsp["clarity"])
diamondsp["numcolor"]=le.fit_transform(diamondsp["color"])
diamondsp["numcut"]=le.fit_transform(diamondsp["cut"])
diamondsp.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,numclarity,numcolor,numcut
0,0,0.33,Very Good,I,IF,62.0,58.0,4.44,4.46,2.76,1,5,4
1,1,1.21,Very Good,D,SI2,62.4,58.0,6.77,6.83,4.24,3,0,4
2,2,1.06,Very Good,D,SI1,59.3,60.0,6.64,6.71,3.96,2,0,4
3,3,0.36,Ideal,E,VVS1,61.4,57.0,4.64,4.61,2.54,6,1,2
4,4,0.70,Ideal,E,VS1,62.3,54.0,5.67,5.72,3.55,4,1,2

In [4]:

le = preprocessing.LabelEncoder()
diamondst["numclarity"] = le.fit_transform(diamondst["clarity"])
diamondst["numcolor"]=le.fit_transform(diamondst["color"])
diamondst["numcut"]=le.fit_transform(diamondst["cut"])
diamondst.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price,numclarity,numcolor,numcut
0,0,1.12,Premium,H,SI1,61.6,59.0,6.67,6.63,4.10,5363,2,4,3
1,1,1.14,Very Good,E,SI2,60.0,54.0,6.74,6.97,4.11,5593,3,1,4
2,2,0.90,Very Good,D,SI2,60.3,63.0,6.12,6.22,3.72,3534,3,0,4
3,3,0.71,Ideal,E,VS1,61.9,54.0,5.74,5.76,3.56,3212,4,1,2
4,4,0.34,Very Good,F,SI2,60.0,62.0,4.51,4.55,2.72,447,3,2,4

In [5]:
y_train=diamondst["price"]
X_train=diamondst[["carat","numclarity","numcolor","numcut","depth","table","x","y","z"]]
X_test=diamondsp[["carat","numclarity","numcolor","numcut","depth","table","x","y","z"]]

In [6]:
from sklearn.model_selection import cross_validate

model2=ExtraTreesRegressor(n_estimators=350,max_features=9,max_depth=35,random_state=120,min_samples_split=9)
model2=model2.fit(X_train,y_train)
y_pred= model2.predict(X_test)

In [7]:
diamondsp["price"]=y_pred
diamondsp

,id,carat,cut,color,clarity,depth,table,x,y,z,numclarity,numcolor,numcut,price
0,0,0.33,Very Good,I,IF,62.0,58.0,4.44,4.46,2.76,1,5,4,739.925306
1,1,1.21,Very Good,D,SI2,62.4,58.0,6.77,6.83,4.24,3,0,4,6030.870316
2,2,1.06,Very Good,D,SI1,59.3,60.0,6.64,6.71,3.96,2,0,4,5852.321330
3,3,0.36,Ideal,E,VVS1,61.4,57.0,4.64,4.61,2.54,6,1,2,1074.300901
4,4,0.70,Ideal,E,VS1,62.3,54.0,5.67,5.72,3.55,4,1,2,3233.554017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,2.04,Good,D,SI1,61.9,60.0,8.15,8.11,5.03,2,0,1,16703.061582
13481,13481,0.31,Ideal,G,IF,61.7,55.0,4.37,4.39,2.70,1,3,2,891.481517
13482,13482,0.52,Ideal,D,VVS2,62.0,56.0,5.14,5.18,3.20,7,0,2,2499.205922
13483,13483,0.50,Premium,F,SI1,59.1,58.0,5.23,5.19,3.08,2,2,3,1291.830905
13484,13484,0.53,Very Good,G,SI2,63.4,55.0,5.10,5.19,3.26,3,3,4,1076.176983

In [8]:
sample=pd.read_csv("sample_submission.csv")
sample.head()

   id  price
0   0   2452
1   1  13670
2   2   4875
3   3  12188
4   4   9229

In [9]:
predict=diamondsp[["id","price"]]
predict

          id         price
0          0    739.925306
1          1   6030.870316
2          2   5852.321330
3          3   1074.300901
4          4   3233.554017
...      ...           ...
13480  13480  16703.061582
13481  13481    891.481517
13482  13482   2499.205922
13483  13483   1291.830905
13484  13484   1076.176983

[13485 rows x 2 columns]

In [10]:
predict.to_csv(r'predextratrees3.csv',index=False,header=True)